$blue50: #e3f2fd;
$blue100: #bbdefb;
$blue200: #90caf9;
$blue300: #64b5f6;
$blue400: #42a4f5;
$blue500: #2196F3;
$blue700: #1a75d2;

$green50: #dafdfa;
$green300: #00eee7;
$green500: #00dfe3;

$yellow200: #fef7aa;
$text: #282828;

$bp-small: 480px;
$bp-middle: 848px;
$bp-big: 1024px;
