@import 'normalize.css';
@import './vars';
@import './banner';
@import './animated-logo';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  background: #fff;
}

