@import './project';

.projects {
  background: linear-gradient(to right, $blue500, $green500);

  &__heading {
    color: #fff;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (max-width: 800px) {
    &__list {
      flex-direction: column;
      align-items: center;
    }
  }
}
