.greeting {
  &__main {
    @include smoothEntry(0.25s, 1s);
  }

  &__text {
    margin: 0;
    color: #fff;
    @include fs(2.4rem);
  }

  &__name {
    display: inline-block;
    background-color: $red800;
    padding: calc(1em / 6) calc(1em / 3);
    border-radius: 0.8rem;
    white-space: nowrap;
  }

  &__button {
    display: block;
    max-width: 300px;
    margin: 24px auto 0;
    padding: calc(1em / 2);

    box-shadow: 4px 4px 4px rgba(#000, 0.15);
    background: linear-gradient(to bottom right, $green500, $blue500);

    text-align: center;
    text-transform: uppercase;
    @include fs(2.4rem);
    font-weight: 500;
    color: #fff;

    @include shine;

    transition: all 0.15s ease-in;
    transition-property: background-color, box-shadow;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      box-shadow: 4px 4px 8px rgba(#000, 0.2);
      background: linear-gradient(to bottom right, $green300, $blue300);
    }
  }

  &__photo {
    display: none;
  }

  @media (max-width: $bp-middle) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__main {
      width: 60%;
    }

    &__photo {
      display: block;
      width: 35%;
      border-radius: 50%;
    }
  }

  @media (max-width: $bp-small) {
    flex-direction: column;
    align-items: center;

    &__photo {
      width: 100%;
      max-width: 150px;
    }

    &__main {
      margin-top: 16px;
      width: 100%;
      max-width: 320px;
    }

    &__text {
      text-align: center;
    }

    &__button {
      max-width: 225px;
    }
  }
}
