.nav {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 45%;
  }
  
  &__link {
    display: block;
    padding: 1em calc(1em / 2);

    background-color: #fff;
    border: 2px solid $blue500;
    box-shadow: 4px 4px 6px rgba(#000, 0.15);

    text-align: center;
    text-transform: uppercase;
    @include fs(2.4rem);
    font-weight: 500;
    color: $blue500;

    transition: box-shadow 0.2s ease-in-out;

    @include wave;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      color: $blue700;
      border-color: $blue700;
      box-shadow: 4px 4px 10px rgba(#000, 0.25);
    }
  }

  @media (max-width: 480px) {
    &__item {
      width: 47.5%;
    }
  }
}
