.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {
    width: 10%;
  }

  &__link {
    display: block;
    background-color: #fff;
    transition: transform 0.15s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      transform: scale(1.1);
    }
  }

  &__img {
    display: block;
    width: 100%;
  }
}
